@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 style="color:white;" class="display-4">Добре дошли!</h1> 
</div> 
<div class="text-center">
    <h1 style="color:white;" class="display-4">В</h1> 
</div> 
<div class="text-center">
    <h1 style="color:white;" class="display-4">Аптека"Хипократ"</h1>
</div>

