@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet1.css" />
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
