@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:white;" class="tr">За нас</h1>
<br />
<div >
    <h1 style="color:white;"><strong>Това е първоначалната ни локация от 1976г.</strong></h1>
    <img src="https://www.classbg.eu/attachments/5/4/54220c91af61750f8d23767f14dd8741.jpg">
    <br />
    <h2 style="color:white;">История на Аптека"Хипократ"</h2>
    <p style="margin:10px 350px 10px 20px; color:white;">
        Първата аптека "Хипократ" отваря през 1976г.  в Ахтопол, с единствения частен денонощен обект в града. Новият стандарт на работа, богатото разнообразие от продукти и компетентното обслужване осигуряват бързо развитие и популярност. До ден днешен аптеката работи и пази своята разпознаваемост сред ахтополци.
        "Хипократ" също така отваря обект и в Свиленград през 2006 г. Това е първата аптека с марката "Хипократ" извън Ахтопол. Добре познатата на жителите аптека "Хипократ" в Ахтопол (известна като "денонощната", "Хипократ на улица Отец Паисий" или "голямата аптека") е революционно нов обект за града - голямо и светло помещение, голям асортимент от лекарства, добавки, козметика и други стоки, две касови зони и квалифициран персонал. Тя отваря през 2007 г. и за дълги години остава топ аптеката в региона, която поддържа и денонощен режим на работа.
        Аптека"Хипократ" става известна през 2010 когато създава свой уебсайт който пополяризира аптеката както и в цяла България така и в световен мащаб.
        С марката "Хипократ" днес работят 4567 обекта из целият свят като това се дължи единствено и само на уебсайта. Ето и някои от градовете в които има обекти на нашата аптека (Стара Загора, Пловдив, Париж, Рим, Букурещ, Лондон, Отава, Скопие, Солун, Белград и др.) с приблизителен клиентопоток от над 456 000 посетителя месечно. 
    </p>
    <br />
    <h2 style="color:white;">Какви услуги предоставя вашата компания?</h2>
    <p style="margin: 10px 350px 10px 20px; color:white">
        Предлагаме услугата Онлайн Консултация чрез чат, аудио или видео разговор с цел да помогнем на нашите клиенти и пациенти във избора на най-подходящия на тях продукт и за проследяване на лекарствени взаимодействия. В България много пациенти примат лекрствата си неправилно. Освен това много лекарства и хранителни добавки не са съмвестими едно с друго и водят до нежелани лекарствени взаимодействия, като намаляване на фармакологичния ефект или поява на токсични ефекти. Важно е осъзнаването на необходимостта от аналитичен подход към лекарствената употреба. Пренасяйки професионалните си умения за осъществяване на фармацевтична грижа, в нашата онлайн аптека сме изградили отделна секция, в която хората да могат да поискат от нас здравен съвет чрез съобщение, аудио или видео разговор. Можете да попитате дали лекарствата и хранителните добавки, които приемате предизвикват нежелани лекарствени взаимодействия в комбинация. Можем да ви помогнем с информация за избора на ефективна и безопасна терапия по време на бременност и кърмене. Можете да поискате съвет за избора на най-подходящия продукт за вашето здраве или дерматологичен проблем.
    </p>
    <br />
    <h2 style="color:white">Защо точно нас?</h2>
    <p style="margin:10px 350px 10px 20px;">
        <ol style="color:white">
            <li style="color:white">Доволните клиенти са нашият приоритет</li>
            <li style="color:white">При нас работят специалисти по сферата</li>
            <li style="color:white">Ние от аптеека"Хипократ" уважаваме и ценим мнението на клиента и го приемаме за даденост</li>
            <li style="color:white">При нас могат да се намерят много видове продукция заедно с исключително ниски цени</li>
        </ol>
    </p>
</div>

