html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} 

html { 
  position: relative;
  min-height: 100%; 
}

body {   
    margin-bottom: 60px;
    background-image: url("../bg.webp");
    background-position: center;
    background-size: cover;
    /*opacity:0.7;*/
} 
nav{  
    background-color:darkcyan; 
}
.element-content {
    display: flex;
    flex-direction: row;
    float: left;
    margin: 20px;
}