@model Apteka_Hipokrat.Models.Shopping

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:white;">Редактиране на поръчките</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" /> 
          @*  <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>*@     
            <div class="form-group">
                <label asp-for="MedicineId" class="control-label" style="color:white;"></label> 
                <select asp-for="MedicineId" class="form-control" asp-items="ViewBag.MedicineId"></select>
                <span asp-validation-for="MedicineId" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Quantity" class="control-label" style="color:white;"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSum" class="control-label" style="color:white;"></label>
                <input asp-for="TotalSum" class="form-control" />
                <span asp-validation-for="TotalSum" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="RegisterON" class="control-label"></label>
                <input asp-for="RegisterON" class="form-control" />
                <span asp-validation-for="RegisterON" class="text-danger"></span>
            </div>*@ 
            <div class="form-group" style="margin:15px 0px 0px 0px;">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@*<div>

</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
